body, html {
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #4a525d;
	width: 100% !important;
	height: 100% !important;
	font-size: 16px;
}

a {
	color: #0D263B;;
}

a:hover, a:focus {
	text-decoration: none;
	color: #226297;
}

img {
	max-width:100%;
}

iframe {
	max-width:100%;
}

ul, ol {
	list-style: none;
}

.btn {
	border-radius: 50px;
	font-weight: 600;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 99999;
	height: 100%;
}

#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

hr {
	height: 2px;
	width: 80px;
	text-align: center;
	position: relative;
	background: #aaa;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}


@media (min-width: 1024px) {
	.container {
		width: 994px;
	}
}

/* Navigation */
nav .navbar-toggle {
	margin: 8px 15px 8px 0;
	padding: 4px 5px;
}

.navbar-custom {
	background:#ffffff;
}

.navbar-custom .navbar-toggle {
	color: #CCC;
	border-radius: 5px;
	padding: 0 4px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #DDDDDD;
	color: #FFFFFF;
}

.navbar-custom .navbar-brand {
	font-size: 24px;
	font-weight: 500;
	padding: 20px 15px;
	height:60px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	color: #0D263B;
}

#top-navbar.navbar-shrink .navbar-brand {
	padding: 15px 15px;
	font-size: 18px;
	height: 50px;
}

#top-navbar .nav-button {
	padding: 10px 15px;
	margin: 10px 0px 0px 15px;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	background: #2bb2f2;
	text-align: center;
}

#top-navbar.navbar-shrink .nav li a.nav-button {
	padding: 10px 15px;
	margin: 5px 0px 5px 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
	color: #FFFFFF;
}

.navbar-custom .nav li a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	color: #0D263B;
	padding-top: 20px;
	padding-bottom: 20px;
}


#top-navbar.navbar-shrink .nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	color: #226297;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #226297;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #226297;
}

.navbar-custom-sub {
	padding: 60px 0 0 0;
	border-bottom: 0;
	letter-spacing: 1px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 14px;
	background: #ffffff;
	color: #25b3b3;
	border-bottom: 5px solid #777;
}

.navbar-custom-sub li a{
	color: #0D263B;
	padding: 20px 8px;
}

.navbar-custom-sub .navbar-brand {
	height: 100px;
	font-weight: bold;
	font-size: 24px;
	padding: 25px;
	text-transform: none;
	color:#666666;
}

.navbar-custom-sub .navbar-brand:focus {
	outline: 0;
}


@media only screen and (max-width:768px){
	.navbar-custom .navbar-brand {
		font-size: 20px;
	}
	nav .navbar-toggle {
		margin: 8px 25px;
	}
	nav .navbar-collapse {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.navbar-custom .navbar-toggle {
		padding: 10px 15px;;
	}

	#top-navbar.navbar-shrink .navbar-brand {
		padding: 20px 15px;;
		font-size: 20px;
		height: 60px;
	}
}

.navbar-custom-sub .dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0; // remove the gap so it doesn't close
}

.navbar-custom-sub .dropdown-menu {
	margin-top: -1px !important;
	background: #f9f9f9;
	border-radius: 0px;
}

.navbar-custom-sub .dropdown-menu li a {
	padding: 10px 20px;
}


/* Home Section */
#intro-1 {
	display: table;
	width: 100%;
	max-height: 560px;
	height: auto;
	padding: 0 ;
	color: #FFFFFF;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/optiv.jpg) no-repeat center left 45%;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#intro-2 {
	display: table;
	width: 100%;
	max-height: 560px;
	height: auto;
	padding: 0;
	color: #FFFFFF;
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/5-axis.jpg);
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#intro-3 {
	display: table;
	width: 100%;
	max-height: 560px;
	height: auto;
	padding: 0;
	color: #FFFFFF;
	background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/edm.jpg) no-repeat center left 45%;;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#intro-4 {
	display: table;
	width: 100%;
	max-height: 560px;
	height: auto;
	padding: 0;
	color: #FFFFFF;
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/kitamura-1.jpg);
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#intro {
	background-color:#EEE;
	padding: 0;
}

#intro .intro-body {
	display: table-cell;
	vertical-align: middle;
	padding:165px 150px;
}
#intro .intro-body H1 {
	border-color: rgb(64, 77, 95);
	line-height: 60px;
	font-weight: bold;
	font-size: 60px;
	opacity: 1;
	text-shadow: 1px 1;
	letter-spacing: 1px;
}
#intro .intro-body H3 {
	font-size: 32px;
	font-weight: 500;
}
#intro a{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
}
#intro .intro-body p {
	font-size: 20px;
}
#intro .intro-body .brand-heading {
	color: #2ba7a1;
	text-shadow: 0 4px #226297;
}
#intro .intro-body .intro-text {
	font-size: 18px;
}

@media(min-width:768px) {
	#intro .intro-body .intro-text {
		font-size: 18px;
		letter-spacing: 1px;
		margin-bottom: 100px;
		color: rgba(255,255,255,0.9);
	}
}
@media(max-width:768px) {
	#intro .intro-body {
		display: table-cell;
		vertical-align: middle;
		padding-top: 150px;
		padding-bottom: 150px;
		padding-left: 50px;
		padding-right: 50px;
	}
	#intro .intro-body H1 {
		line-height: inherit;
		font-size: 30px;
	}
	#intro .intro-body H3 {
		line-height: inherit;
		font-size: 24px;
	}
}

.btn-default {
	color: #f6f6f6;
	background: #2bb2f2;
	border: 0;
	padding: 12px 24px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #f6f6f6;
	background-color: #2bb2f2;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	font-size: 27px;
	line-height: 40px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}


/* About Section */
#about {
	padding: 80px 0 100px;
	background-color:#EEE;
}

#about h2 {
	color: #222222;
}

#about h3 {
	color: #337ab7;
	margin-bottom:20px;
}

#about .about-slider .slick-active img {
	opacity:1!important;
	transition:opacity 0.5s ease-in;
	margin: 0 auto;
}

#about .slick-slide img {
	opacity:0;
	transition:opacity 0.3s ease-out;
	margin: 0 auto;
}


/* 5-Axis Section */
#five-axis h1 {
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
}

#five-axis h3 {
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
}

@media(max-width:768px) {
	#five-axis h1 {
		font-size: 30px;
	}
	#five-axis h3 {
		font-size: 24px;
	}
}

#five-axis .banner {
	padding: 140px 0px;
	position: relative;
	overflow: hidden;
	background: rgba(0, 0, 0, .5) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=');
}

#five-axis .banner__video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}


/* Capabilities Section */
#capabilities {
	padding: 80px 0;
	opacity: 1;
	color: #666;
	overflow: hidden;
}

#capabilities h2 {
	color: #222222;
}

#capabilities img {
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}

#capabilities .slick-prev:before,
.slick-next:before {
	opacity: .75;
	color: #666;
}

@media only screen and (max-width:768px){
	.slick-prev {
		left: 20px;
		z-index: 100;
	}
	.slick-next {
		right: 20px;
		z-index: 100;
	}
}


/* Testimonials Section */
#testimonials {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/multi-axis-cnc-lathe.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #FFFFFF;
	padding: 100px 0 60px;
}

@media only screen and (max-width:768px){
	#testimonials {
		background-attachment: initial;
		background-size: 1800px;
	}
}
#testimonials h2 {
	color: #FFFFFF;
}
#testimonials hr {
	margin-bottom: 0px;
}
#testimonials .section-title {
	padding: 15px 0px;
}
#testimonials .testimonials {
	max-width: 975px;
	margin: 0 auto;
}
#testimonials blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	color: #FFFFFF;
}
#testimonials i {
	font-size: 24px;
	color: #FFFFFF;
	margin-bottom: 14px;
}
#testimonials .clients-name {
	display: inline-block;
	border-top: 1px solid rgba(255,255,255,0.3);
	padding: 20px 0;
	margin-top: 10px;
}


/* Services Section */
#services {
	padding: 80px 0;
	opacity: 1;
	color: #666;
}

#services h2 {
	color: #222222;
}

#services h3 {
	color: #337ab7;
	margin-bottom:20px;
}

#services img {
	margin-left:auto;
	margin-right:auto;
}

#services li i {
	color: #337ab7;
}

#services .slick-slide img {
	opacity:0;
	transition:opacity 0.3s ease-out;
}

@keyframes slick-zoom-in {
	0% {
		transform:scale(1);
	}
	100% {
		transform:scale(1.05);
	}
}

#services .slick-dots li{
	margin: 0 3px;
}

#services .slick-active img {
	opacity:1!important;
}

#services .gallery-slider-for {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	max-width:100%;
	max-height:400px;
	overflow: hidden;
}

#services .gallery-slider-for .slick-active img {
	height:400px;
	opacity:1!important;
	transition:opacity 0.5s ease-in;
	animation:7s ease-in 2s 1 slick-zoom-in;
}

@media (max-width: 768px) {
	#services .gallery-slider-for {
		max-width:260px;
		max-height:200px;
	}
	
	#services .gallery-slider-for .slick-active img {
		height:200px;
	}
}

@media (max-width: 1279px) {
	#services .slick-dots {
		display: none !important;
	}
}

#services .gallery-slider-nav {
    margin-left: 75px;
    margin-right: 75px;
}

/* quote Section*/
#quote {
	padding: 50px 0;
	background-color: #2bb2f2;
	color: #FFFFFF;
}
#quote H3 {
	margin: 0 0 10px;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

#quote .btn-default {
	background: none;
	margin-top: 8px;
	border: 1px solid #fff;
	padding: 0;
	display: block;
	text-align: center;
	line-height: 45px;
	text-transform: uppercase;
	font-weight: bold;
}


/* Facilities Section */
#facilities {
	padding: 40px 0 100px;
	background-color:#EEE;
}

#facilities h2 {
	color: #222222;
}

#facilities h3 {
	color: #337ab7;
	margin-bottom:20px;
}


/* Footer Section*/
footer {
	padding: 80px 0 20px;
	background: #404d5f;
}

footer p {
	margin-bottom: 20px;
}

footer h2 {
		font-size: 21px;
		text-transform: uppercase;
		line-height: 64px;
		color: #FFFFFF;
		font-weight: bold;
		margin: 0;
}

footer h3 {
		color: #FFFFFF;
}

footer hr {
	margin: 0px;
	width: 200px;
}

footer li, footer a, footer p{
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}

footer ul {
	margin-bottom:10px;
}

footer .fa-inverse {
	color: #4a525d;
}

footer .iso {
	background: #fff;
	border-radius: 20px;
	max-width:125px;
}

#footer {
	background: #404d5f;
	color: #777;
	padding-bottom: 10px;
	text-align: center;
}
#footer a {
	color: #999999;
}
#footer a:hover {
	color: #2ba7a1;
}
#footer p {
	font-size: 16px;
	margin-top: 10px;
}

@media (max-width: 768px) {
	.hover-bg .hover-text {
		padding: 20%;
	}
}

.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
	list-style: none;
}

.company-social li{
	margin:0;
	padding:0;
	display: inline-block;
}

.company-social a{
	margin:0 2px 0 0;
}

.company-social a:hover {
	color: #fff;
}

.company-social a i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	text-align: center;
	border-radius: 50%;
	padding:0;
}

.company-social .social-facebook a i{background: #3873ae;}
.company-social .social-twitter a i{background: #62c6f8;}
.company-social .social-dribble a i{background: #d74980;}
.company-social .social-deviantart a i{background: #8da356;}
.company-social .social-google a i {background: #ea4335;}
.company-social .social-vimeo a i {background: #51a6d3;}
.company-social .social-facebook a:hover i {background: #4893ce;}
.company-social .social-twitter a:hover i {background: #82e6ff;}
.company-social .social-dribble a:hover i {background: #f769a0;}
.company-social .social-deviantart a:hover i {background: #adc376;}
.company-social .social-google a:hover i {background: #961105;}
.company-social .social-vimeo a:hover i {background: #71c6f3;}


